<p>
  <b>Email:</b>
  <%=h @person.email %>
</p>

<p>
  <b>Name:</b>
  <%=h @person.name %>
</p>

<p>
  <b>Client:</b>
  <%=h @person.client_id %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>